<div id="index">
  {{message}}
</div>
<table class="table"> 
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Title</th>
      <th scope="col">Start Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Time extended</th>
      <th scope="col">Extend</th>
    </tr>
  </thead>
  <tbody> 
  <%= for loan <- @books do %>
  <tr>
    <td><%= @books.title  %></td>
    <td><%= @books.code  %></td>
    <td><%= loan.start_date %> </td>
    <td><%= loan.due_date %> </td>
    <td><%= lona.extended %> </td>
    <td class="text-right">
       <%= link "Extend", to: book_path(@conn, :show, loan.id), class: "btn-default"  %>
    </td> 
   </tr>  
<% end %>
  </tbody>
</table>
</div> 